fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
paddlepaddle==2.5.2
paddleocr==2.7.0.3
pymupdf==1.23.8
Pillow==10.1.0
# opencv-python==4.8.1.78  # No longer needed for preprocessing
numpy==1.24.3
python-multipart==0.0.6
mysql-connector-python==8.2.0
dbf==0.99.3
# Authentification
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
email-validator==2.1.0
